{% extends "network/layout.html" %}

{% block body %}
    <h2 style="text-align: center; color: darkblue;">{{ title }}</h2>

    {% for x in lists %}
        <a href="{% url 'user' x.id %}" id="a-user-divs">
            <div class="user-divs">
                <img src="https://i.ibb.co/ZfN7ypd/user.png" alt="user">
                <h5>{{ x.username }}</h5>
                <p class="text-muted">Joined {{ x.date_joined|date:"F Y" }}</p>
            </div>
        </a>    
    {% empty %}
        <h6>No {{title}} yet</h6>
    {% endfor %}
    
{% endblock %}

{% block script %}
    <script>
        document.querySelector(".new-post").style.display = "none";
    </script>
{% endblock %}